
*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h3{
    font-weight: bold;
}
.weatherbox{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: rgb(110, 124, 134);
}
.image{
    width: 40px;
    height: 40px;
}
.search-button {
    width:100%;
    margin-top: 5px;
}
#header{
    background-image: linear-gradient(to right, rgb(6, 101, 165) , rgb(99, 47, 196));
    color: white;
}
#header h1 {
    text-align: start;
}
#cityCurrent{
    font-size: 20px;
}